*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans Condensed", sans-serif;
    font-style: normal;
}
body{
    background-image: url("images/backgroundImg.jpg");
    background-size: cover;
}
h1{
    font-weight: 700;
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vh;
    height: fit-content;
    border: 4px solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 3rem;
}
.form-container label{
    font-weight: 100;
    font-size: 1.75rem;
}
.qBtn{
    display:inline-block;
}
.ques{
    width: 1rem;
    height: 1rem;
}

.form-container input{
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    padding: 0.5rem;
    border: 3px solid black;    
}
.form-container select{
    width: 20rem;
    height: 2rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: 3px solid black;    


}
.submit{
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 3px solid black;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(203, 202, 202);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 100%;
    margin-left: 1px;
}
  
  /* Tooltip text - show on hover */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.output{
    visibility: collapse;
}



.resultDec{
    margin-top: -43rem;
    width: 50%;
    text-align: center;
    height: 20rem;
    background-color: rgb(144, 85, 85);
    color: black;
    padding: 3rem;
    margin-left: 20%;
    margin-bottom: 10rem;
    font-size: 2.5rem;
    border: 4px solid black;
}

.closeBtn{
    margin-top: 5rem;
    width: 10rem;
    height: 3rem;
    border: 3px solid black;
    border-radius: 1rem;
    font-size: 1.5rem;
}
.inp-err{
    display: flex;
}
.error{
    translate: -40px -1px;
    font-size: 3rem;
    color: red;
    visibility: hidden;
}

.tooltip1 .tooltiptext {
    width: 120px;
    background-color: rgb(210, 97, 97);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 200%;
    margin-left: 1px;
}
.err{
    font-size: 1.25rem;
}